################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/PiedraPapelTijera/.vs/PiedraPapelTijera.slnx
/PiedraPapelTijera/PiedraPapelTijera/obj/Debug
/PiedraPapelTijera/PiedraPapelTijera/bin/Debug
